.landing-page,
.landing-page * {
  box-sizing: border-box;
}
.landing-page {
  background: #ca0606;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.bmgt-407 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 129px;
  top: 103px;
  width: 325px;
  height: 127px;
}
.homepage {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 816px;
  top: 103px;
}
.contact {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 1183px;
  top: 103px;
}
.about {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 1041px;
  top: 103px;
}
.let-s-create-a-website-design {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 48px;
  font-weight: 400;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 398px;
}
.today-let-s-create-a-sample-website-design-in-figma-and-export-its-corresponding-html-and-css-code {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 80px;
  top: 488px;
  width: 1280px;
  height: 119px;
}
.group-1 {
  position: absolute;
  inset: 0;
}
.getting-started {
  background: #a8ff35;
  border-radius: 10px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 180px;
  height: 57px;
  position: absolute;
  left: 630px;
  top: 639px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.getting-started2 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 653px;
}
